<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AirData</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<style>
    body{background-color: azure;}
</style>

<body>
    <div class="container-fluid">
        <h1><center><b>Pure Air</b></center></h1>
    </div>
    <div id="app">
        <div class="container-sm" v-if="NewestRoomSet">
            <h3>Zealand</h3>
            <table id="table" class="table table-dark table-striped table-hover table ">
                <tbody>
                    <th>Room</th><th>Co2 (1 is bad)</th><th>Last Measurement</th>
                    <tr id="list" v-for="NewestRoomData in NewestRoomDatas">
                        <td>{{NewestRoomData.roomId}}</td>
                        <td>{{NewestRoomData.co2 }}</td>
                        <td>{{NewestRoomData.timeStamp.slice(5,10) + " | " + NewestRoomData.timeStamp.slice(11,16) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 v-else> <center>Please wait...</center></h2>
        <script src="index.js"></script>
    </div>
</body>

</html>